body {
  font-family: roboto;
  margin: 0;
  padding: 20px;
}

main {
  max-width: 300px;
  margin: 0 auto;
  border:10px solid black;
}

ol {
  padding: 5px 20px;
  max-height: 400px;
  overflow-y: auto;
}

li {
  padding: 10px;
  list-style: none;
}

li:hover{
	background-color: grey;
}
