body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

main {
  max-width: 400px;
  margin: 0 auto;
	border:4px solid black;
}

ol {
  padding: 20px;
}

li {
  padding: 10px;
  list-style: none;
}

li:hover{
	background-color: grey;
}
